body {
  margin: 0;
  padding: 0;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 7px;
  z-index: 999;
  margin-bottom: 100px;
}

#logo {
  position: sticky;
  top: 50px;
  float: left;
  width: 200px;
  height: 100vh;
  background-color: #d2691e;
  padding: 7px;
}

#logo label {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
}

#logo a {
  text-decoration: none;
  color: #333;
}

.content {
  margin-top: 50px;
  margin-left: 220px;
  padding: 20px;
}

.text-chocolate {
  color: #d2691e;
}

.president {
  background-image: url(./pic/profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
  width: 25%;
  height: 30vh;
}

.description {
  display: none;
}

.president:hover {
  .description {
    display: block;
    font-size: 12px;
    padding-top: 60%;
    padding-left: 7px;
    padding-right: 7px;
    height: 100%;
    background-color: #7e7e7e;
    opacity: 0.7;
    color: white;
  }
}

.footer {
  background-color: #f1f1f1;
  padding: 7px;
  text-align: center;
}
