* {
  margin: 0;
  padding: 0;
  color: #e9e9e9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

#navbar {
  margin-top: 10px;
  padding: 5px;
  border-bottom: 2px #b09e80 solid;
  display: flex;
  flex-direction: row;
  background-color: #192537;
}

body {
  background-color: #192537;
}

#navbar #offcanvasRight {
  background-color: #192537;
}

#navbar img {
  margin-left: 10px;
  margin-top: 15px;
}

#navbar button {
  margin-left: auto;
  margin-right: 25px;
}

#navbar nav {
  margin-left: auto;
  margin-top: auto;
  margin-right: 50px;
}

#navbar ul li {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 24px;
}

#navbar ul li a {
  text-decoration: none;
  color: #e9e9e9;
}

#navbar ul li a:hover {
  border-bottom: 2px #b09e80 solid;
}

#slide1 {
  background-image: url(./pic/plan.jpg);
}

#slide2 {
  background-image: url(./pic/enjoy.jpg);
}

#slide3 {
  background-image: url(./pic/comfort.jpg);
}

#Slideshow {
  width: 100%;
  height: 75vh;
}

#slide1,
#slide2,
#slide3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 75vh;
}

#slidetext {
  position: absolute;
  background-color: transparent;
  z-index: 100;
  top: 35vh;
  left: 40%;
}

#slide3 #slidetext {
  color: white;
}

#slide3 #slidetext span {
  color: #b09e80;
}

#about {
  margin: 70px 7%;
}

#aboutText {
  background-color: #b09e80;
  color: black;
  padding: 100px;
  padding-right: 350px;
}

#aboutPic {
  position: absolute;
  width: 80%;
}

#touristsPic {
  width: 45%;
  height: 60vh;
  margin-top: 10vh;
  margin-left: 50%;
}

#aboutText p {
  color: black;
}

@media (max-width: 1200px) {
  #touristsPic {
    display: none;
  }

  #aboutText {
    padding: 30px;
    padding-right: 75px;
  }

  #city {
    display: flex;
    flex-direction: row;
  }

  #cityCard {
    width: 40%;
  }
}

#cityCard {
  margin: 20px;
}

#cityImg {
  width: 100%;
  height: 35vh;
}

#cityText {
  opacity: 0;
  animation: slideIn 2s ease forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#footer {
  background-color: #b09e80;
  width: 110%;
  margin-bottom: 0;
  margin-top: 5vh;
  height: 35vh;
}

#footerSection {
  height: 20vh;
  margin-top: 10vh;
  overflow: hidden;
}

#selectionBar {
  height: 210px;
  width: 110%;
  position: absolute;
  top: 20vh;
  background: linear-gradient(to bottom, #b09e80, #192537);
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
}

#destination {
  color: #192537;
  width: 350px;
}

#dateRange {
  width: 600px;
  display: flex;
  flex-direction: row;
}

#dateRange div {
  width: 300px;
  margin: 0;
  padding: 0;
}

#guests {
  width: 250px;
}

#guests ul {
  width: 250px;
}

#guests ul li {
  color: #192537;
  margin-left: 7px;
}

#guests ul li div {
  float: right;
  margin-right: 7px;
}

#price {
  width: 300px;
  height: 39px;
}

#price select option {
  color: #192537;
  margin-left: 7px;
}

#rating {
  width: 200px;
}

#rating select option {
  color: #192537;
  margin-left: 7px;
}

#rating label i {
  color: #b09e80;
}

@media (max-width: 1400px) {
  #price,
  #rating {
    display: none;
  }

  #selectionBar {
    padding-left: 5px;
    border: none;
    margin-left: 5px;
    justify-content: left;
  }

  #dateRange {
    width: 350px;
  }

  #dateRange div {
    width: 175px;
  }

  #guests {
    width: 250px;
  }
}

#hotels {
  position: relative;
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
}

#hotelCard {
  width: 300px;
  background-color: #192537;
  border-radius: 5%;
  margin: 10px;
  padding: 10px;
  position: relative;
  overflow-y: hidden;
}

#hotelCard:hover {
  box-shadow: inset 0 0 10px #b09e80;
}

#hotelCard:hover #cardbutton {
  animation: btn 1s;
  bottom: 10px;
  transition: bottom 0.3s ease;
}

@keyframes btn {
  0% {
    bottom: -40px;
  }

  100% {
    bottom: 10px;
  }
}

#cardbutton {
  position: absolute;
  right: 7px;
  bottom: -40px;
}

#cardRating i {
  color: #b09e80;
}
