* {
  background-color: #1a1c2b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Roboto Slab", serif;
}

#about {
  padding-top: 10vh;
}

#fullProfile {
  min-width: 550px;
  max-width: 60vh;
  width: 60%;
  margin-left: 15vh;
}

#profilePic {
  background-image: url(./icons/Picture.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(245, 245, 245, 0.4);
  width: 120px;
  height: 120px;
  left: -7vh;
  top: 0;
  z-index: 100;
}

.text-gradient {
  background: linear-gradient(90deg, #1ab8d2, #8e6fe9);
  background-clip: text;
  width: fit-content;
  height: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto", sans-serif;
}

.title-gradient {
  background: linear-gradient(90deg, #1ad26d, #abbd49);
  background-clip: text;
  width: fit-content;
  height: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lisu Bosa", serif;
}

.text-whitesmoke {
  color: #ffffff80;
}

.text-darkwhitesmoke {
  color: rgb(121, 119, 119);
}

.text {
  color: #ffffffa9;
  font-family: "Montserrat", sans-serif;
}

#profile {
  border-radius: 20px;
  width: 90vh;
  box-shadow: 0 0 2vh rgba(245, 222, 179, 0.1);
}

#profile h1,
p,
span {
  background: none;
}

#profile p {
  padding: 15px;
  padding-bottom: 0;
}

#profile h1 {
  padding-bottom: 1vh;
  padding-left: 1rem;
}

#profile h1:nth-child(1) {
  padding-top: 2vh;
}

#skillsection {
  margin-left: 50vh;
  width: 50vh;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(245, 222, 179, 0.1);
}

#skillsection h1,
ul,
ul li {
  background: none;
}

#skillsection ul {
  text-decoration: none;
  list-style-type: none;
}

#codeSkill {
  background: none;
  width: 10vh;
  height: 10vh;
  padding: 10px;
  position: relative;
}

#codeSkill img {
  background: none;
  width: 7vh;
  height: 7vh;
}

#codeSkill h1 {
  display: none;
  text-align: center;
}

#softSkill {
  margin: 1vh;
}

#skillsection ul li:hover {
  #codeSkill h1 {
    display: block;
  }

  #codeSkill img {
    width: 8vh;
    height: 8vh;
  }
}

@media (max-width: 1000px) {
  #fullProfile {
    display: flex;
    flex-wrap: wrap;
    flex-grow: initial;
    margin: auto;
    width: 80vh;
  }

  #profilePic {
    left: -6vh;
  }

  #skillsection {
    margin: auto;
    margin-top: 3vh;
    width: 80vh;
  }

  .project {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  #projects div div {
    width: 100%;
  }
}

#seeMore {
  background: none;
  display: none;
  margin-top: 0;
  padding-top: 0;
}

label {
  background: none;
  margin-left: 2vh;
  color: rgb(51, 51, 207);
  cursor: pointer;
  display: inline-block;
}

#see {
  display: none;
}

#see:checked ~ #fullProfile #seeMore {
  display: block;
}

#see:checked ~ #fullProfile #more {
  display: none;
}

#projects {
  overflow-x: hidden;
}

#icon {
  width: 7vh;
  height: 7vh;
  margin: 2vh;
}

#projectLogo {
  width: 20vh;
  height: fit-content;
  border-radius: 25px;
  margin-left: 2vh;
}

#projectLogo2 {
  width: 14vh;
  height: 10vh;
  border-radius: 20px;
  margin-left: 2vh;
}

#projectLogo3 {
  width: 10vh;
  margin-left: 2vh;
}

#projectLogo4 {
  width: fit-content;
  height: 50px;
  border-radius: 60px;
}

#projectPreview {
  width: 70%;
  height: 70%;
  margin: 5vh 15vh;
  border-radius: 25px;
  box-shadow: 0 0 20px wheat;
}

#projectPreview:hover {
  box-shadow: 0 0 30px white;
}

@media (max-width: 500px) {
  #Logo {
    font-size: 45px;
  }

  #navbarNav ul li a {
    text-align: center;
    font-size: 30px;
  }

  #profile {
    width: 60%;
    margin-right: 35%;
  }

  #profilePic {
    left: -2vh;
    width: 14vh;
    height: 14vh;
  }

  #webName {
    display: none;
  }

  #projectPreview {
    margin: 0;
  }

  #pv {
    position: relative;
    align-items: start;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 3vh;
  }

  #projectPreview {
    width: 50vh;
    height: fit-content;
  }
}
