* {
  background-color: #1a1c2b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

#about {
  padding: 5rem;
}

#aboutMe {
  display: grid;
  grid-template-columns: 60% 40%;
}

#fullProfile {
  min-width: 25rem;
  max-width: 70rem;
}

.text-gradient {
  background: linear-gradient(90deg, #1ab8d2, #8e6fe9);
  background-clip: text;
  width: fit-content;
  height: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.title-gradient {
  background: linear-gradient(90deg, #1ad26d, #abbd49);
  background-clip: text;
  width: fit-content;
  height: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lisu Bosa", serif;
  font-weight: bold;
}

.text-whitesmoke {
  color: #ffffff80;
}

.text-darkwhitesmoke {
  color: rgb(121, 119, 119);
}

.text {
  color: #ffffffa9;
  font-family: "Montserrat", sans-serif;
}

#profile {
  border-radius: 20px;
  width: 85%;
  box-shadow: 0 0 3rem rgba(255, 255, 255, 0.1);
}

#skillSection {
  width: 25rem;
  border-radius: 20px;
  box-shadow: 0 0 3rem rgba(255, 255, 255, 0.1);
}

#essentialSkills {
  text-decoration: none;
  list-style-type: none;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

#skillSection li {
  width: fit-content;
}

#codeSkill {
  width: fit-content;
  height: 4.5rem;
  overflow: visible;
}

#codeSkill img {
  width: fit-content;
  height: 4.5rem;
}

#codeSkill h1 {
  display: none;
  text-align: center;
}

#moreSkills {
  display: none;
}

#display:checked ~ #More {
  display: none;
}

#display:checked ~ #moreSkills {
  text-decoration: none;
  list-style-type: none;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

#skillsection ul li:hover {
  #codeSkill h1 {
    display: block;
  }

  #codeSkill img {
    width: 4rem;
    height: 4rem;
  }

  #codeSkill {
    z-index: 1000;
  }
}

#seeMore {
  display: none;
}

label {
  margin-left: 3rem;
  color: rgba(51, 51, 207, 0.8);
}

#see {
  display: none;
}

#see:checked ~ #fullProfile #seeMore {
  display: block;
}

#see:checked ~ #fullProfile #more {
  display: none;
}

#projects {
  overflow-x: hidden;
}

.project {
  display: grid;
  grid-template-columns: 70%;
}

#icon {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
}

#projectLogo {
  width: 10rem;
  height: fit-content;
  border-radius: 25px;
  margin-left: 3rem;
}

#projectPreview {
  width: 60%;
  height: fit-content;
  margin: 2.5rem 11rem;
  border-radius: 25px;
  box-shadow: 0 0 20px wheat;
}

#projectPreview:hover {
  box-shadow: 0 0 20px white;
}

@media (min-width: 2000px) {
  body {
    max-width: 1950px;
  }

  html {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  #aboutMe {
    grid-template-columns: 90%;
  }

  #fullProfile {
    display: flex;
    flex-wrap: wrap;
    flex-grow: initial;
    margin: auto;
    width: 50rem;
  }

  #skillSection {
    margin: auto;
    margin-top: 5rem;
  }

  .project {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  #projects div div {
    width: 100%;
  }
}

@media (max-width: 500px) {
  html {
    overflow-x: hidden;
  }

  #about {
    padding: 2rem 0.3rem;
  }

  #fullProfile {
    width: 100%;
  }

  #profile {
    margin: 0;
  }

  #skillSection {
    width: 90%;
  }

  #skillSection img {
    width: 3.5rem;
  }

  #webName {
    display: none;
  }

  #projectPreview {
    margin: 0;
  }

  #pv {
    position: relative;
    align-items: start;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 3rem;
  }

  #projectPreview {
    width: 20rem;
    height: fit-content;
    margin: 0 25px;
  }
}
