@import url("https://fonts.googleapis.com/css2?family=Niramit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agdasima&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

video {
  position: absolute;
  width: 100%;
  max-width: 1950px;
  height: 53.5rem;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  z-index: -1;
}

.intro {
  padding: 1rem 5.5rem;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
}
.intro nav {
  border-bottom: 2px white solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 15px;
  padding: 0;
}
.intro nav img {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}
.intro nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 25px;
  width: 700px;
  justify-content: space-evenly;
}
.intro nav ul li {
  list-style: none;
  color: white;
  font-size: 20px;
  font-family: "Niramit", sans-serif;
  padding: 14px 0;
}
.intro nav ul li:hover {
  padding-bottom: 10px;
  border-bottom: 4px rgb(55, 90, 206) solid;
  cursor: pointer;
}
.intro nav div {
  margin-left: auto;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 5px;
}
.intro nav div i {
  color: white;
  font-size: 16px;
  width: 40px;
  padding-top: 14px;
}
.intro nav div i:last-child {
  display: none;
}
.intro nav div i:hover {
  padding-bottom: 10px;
  border-bottom: 4px rgb(55, 90, 206) solid;
  cursor: pointer;
}
.intro .bmwI5 {
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: "Niramit", sans-serif;
  display: flex;
  height: 46.5rem;
}
.intro .bmwI5 p {
  color: white;
  font-size: 20px;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
}
.intro .bmwI5 p span {
  font-weight: bold;
}
.intro .bmwI5 div {
  margin: auto 15px;
  padding-left: 0;
}
.intro .bmwI5 div h1 {
  color: white;
}
.intro .bmwI5 div h1:nth-child(2) {
  font-size: 250px;
  padding: 0;
  font-family: "Agdasima", sans-serif;
}
.intro .bmwI5 div h1:last-of-type {
  display: inline;
  font: "Agdasima", sans-serif;
  font-weight: normal;
}
.intro .bmwI5 div .i5elec100 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.intro .bmwI5 div .i5elec100 div {
  width: -moz-fit-content;
  width: fit-content;
  margin: 2px;
  height: -moz-fit-content;
  height: fit-content;
}
.intro .bmwI5 div .i5elec100 div:first-child {
  padding-top: 8px;
}
.intro .bmwI5 div .i5elec100 div img {
  width: 30px;
  height: 15px;
}
.intro .bmwI5 div button {
  width: 200px;
  height: 40px;
  border: none;
  background: transparent;
  color: white;
  font-size: large;
  border-radius: 4px;
}
.intro .bmwI5 div button:first-child {
  border: 1px white solid;
}
.intro .bmwI5 div button:first-child:hover {
  border: 3px white solid;
}
.intro .bmwI5 div button:last-of-type {
  margin-left: 20px;
  background-color: rgb(55, 90, 206);
}
.intro .bmwI5 div button:last-of-type:hover {
  background-color: rgb(44, 44, 196);
}
.intro .shopTheLook {
  background-color: white;
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: 5;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0;
  font-family: "Niramit", sans-serif;
  font-size: 20px;
}
.intro .shopTheLook div {
  padding: 2px;
}
.intro .shopTheLook div:first-child {
  width: 80px;
  display: flex;
}
.intro .shopTheLook div:first-child i {
  margin: auto;
}
.intro .shopTheLook div:nth-child(2) {
  padding: 0;
}
.intro .shopTheLook div:nth-child(2) span {
  font-weight: bold;
  font-family: "Agdasima", sans-serif;
  font-size: 22px;
  margin-left: 5px;
}
.intro .shopTheLook div:nth-child(2) span span {
  width: 25px;
  height: 25px;
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
}
.intro .shopTheLook div:nth-child(2) span:hover {
  color: rgb(55, 90, 206);
}

.i5Details {
  position: relative;
}
.i5Details p {
  font-size: 17px;
  margin: 40px 70px;
  font-family: "Niramit", sans-serif;
}

.onlineBuy {
  width: 95%;
  padding: 25px 5%;
  font-family: "Agdasima", sans-serif;
}
.onlineBuy h2 {
  text-align: center;
}
.onlineBuy h1 {
  text-align: center;
  font-size: 56px;
}
.onlineBuy div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 5px;
  justify-content: center;
}
.onlineBuy div div {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.onlineBuy div div img {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.onlineBuy div div h1 {
  font-size: 30px;
  font-weight: normal;
  display: block;
}
.onlineBuy div div button {
  display: block;
  background: transparent;
  width: 100%;
  border: 2px black solid;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
}

.elecOptions {
  background-image: url(../img/range.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0;
  height: 40rem;
}
.elecOptions .shade {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(43, 43, 43, 0.6), rgba(43, 43, 43, 0));
}
.elecOptions .shade div {
  margin: auto 50px;
  color: white;
  font-family: "Niramit", sans-serif;
  width: 35%;
}
.elecOptions .shade div h1 {
  padding-bottom: 2vh;
  font-size: 20px;
}
.elecOptions .shade div p {
  font-size: 30px;
  font-weight: normal;
}
.elecOptions .shade div span {
  font-weight: bold;
  display: block;
  font-size: 18px;
}
.elecOptions .shade div button {
  background: transparent;
  border: 2px white solid;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  color: white;
  font-size: 20px;
  padding: 10px 25px;
  margin-top: 50px;
  font-family: "Niramit", sans-serif;
}
.elecOptions .shade div button:hover {
  border: 3px white solid;
}

.elecDetails {
  margin: 15px 50px;
  font-family: "Agdasima", sans-serif;
  font-size: 22px;
}
.elecDetails p {
  padding-bottom: 15px;
}
.elecDetails p:first-child {
  padding-bottom: 5px;
}
.elecDetails h5 {
  text-decoration: underline;
  padding-bottom: 10px;
}

.luxOptions {
  background-image: url(../img/luxirious.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0;
  height: 40rem;
}
.luxOptions .shade {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(43, 43, 43, 0.6), rgba(43, 43, 43, 0));
}
.luxOptions .shade div {
  margin: auto 50px;
  color: white;
  font-family: "Niramit", sans-serif;
  width: 35%;
}
.luxOptions .shade div p {
  font-size: 15px;
  font-weight: normal;
}
.luxOptions .shade div p:last-of-type {
  font-size: 60px;
}
.luxOptions .shade div button {
  background: transparent;
  border: 2px white solid;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  color: white;
  font-size: 20px;
  padding: 10px 25px;
  margin-top: 50px;
  font-family: "Niramit", sans-serif;
}
.luxOptions .shade div button:hover {
  border: 3px white solid;
}

.enjoy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 15px;
  width: 90%;
  margin: 30px 5%;
}
.enjoy div {
  width: 50%;
}
.enjoy div img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 4px;
}
.enjoy .serviceInfo {
  display: flex;
  width: 50%;
}
.enjoy .serviceInfo div {
  margin: auto 25px;
  font-family: "Niramit", sans-serif;
  width: 100%;
}
.enjoy .serviceInfo div h1 {
  font-size: 55px;
}
.enjoy .serviceInfo div p {
  font-size: 22px;
  padding: 0 4px;
  font-family: "Agdasima", sans-serif;
}
.enjoy .serviceInfo div p:first-child {
  font-weight: bold;
  font-size: 22px;
  padding: 15px 0;
}
.enjoy .serviceInfo div button {
  background: transparent;
  width: 250px;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px black solid;
  padding: 10px;
  font-weight: bold;
  margin-top: 15px;
}
.enjoy .serviceInfo div button:hover {
  border: 3px black solid;
}

.serviceDetails {
  width: 90%;
  margin: 10px 5%;
}
.serviceDetails p {
  font-family: "Agdasima", sans-serif;
  font-size: 22px;
  padding-bottom: 15px;
}

footer {
  width: 100%;
  height: 35rem;
  font-family: "Niramit", sans-serif;
}
footer .conAbt {
  position: relative;
  background-color: rgba(224, 224, 224, 0.6);
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0px;
}
footer .conAbt .contact {
  width: 50%;
  margin: auto 100px;
}
footer .conAbt .contact h1 {
  color: gray;
  font-size: 12px;
}
footer .conAbt .contact ul {
  padding: 15px 0;
}
footer .conAbt .contact ul li {
  padding: 5px 0;
  text-decoration: none;
  list-style: none;
}
footer .conAbt .contact ul li i {
  margin-left: 7px;
  transform: rotate(45deg);
}
footer .conAbt .contact div {
  position: absolute;
  bottom: 45px;
  left: 95px;
}
footer .conAbt .contact div i {
  padding: 0 10px;
}
footer .conAbt .aboutBMW {
  margin: auto 100px;
}
footer .conAbt .aboutBMW h1 {
  color: gray;
  font-size: 12px;
}
footer .conAbt .aboutBMW ul {
  padding: 15px 0;
}
footer .conAbt .aboutBMW ul li {
  padding: 5px 0;
  text-decoration: none;
  list-style: none;
}
footer .conAbt .aboutBMW ul li i {
  margin-left: 7px;
  transform: rotate(45deg);
}
footer .lastPart {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0;
  padding-top: 18px;
}
footer .lastPart p {
  margin-left: 15px;
}
footer .lastPart ul {
  margin-left: auto;
  margin-right: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 10px;
  width: 30%;
  justify-content: space-evenly;
}
footer .lastPart ul li {
  list-style: none;
  font-weight: bold;
  font-size: 16px;
}
footer .smFooter {
  display: none;
}

.chat {
  background-color: rgb(55, 90, 206);
  position: fixed;
  z-index: 99;
  width: 65px;
  height: 65px;
  bottom: 12.6rem;
  right: 0;
  display: flex;
}
.chat i {
  margin: auto;
  color: white;
  font-size: 30px;
}

.navmenu {
  display: none;
}/*# sourceMappingURL=styling.css.map */